*{
    padding: 0px;
    margin: 0px;
}

body{
    /* MIN HEIGHT set to 100vh required and display flex needed to make entire
       page flex correctly*/
    min-height: 100vh;
    display: flex;
    justify-content: center;
}



.m-container{
    display: flex;
    flex-direction: column;
    /* flex grow makes container stretch the entire page width(fills empty space) */
    flex: 1;
    /* background-color: #1F2937; */

 }

.Header-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1F2937;
    color: ;
}

.header{
    display: flex;
    font-size: 24px;
    color: #F9faf8;
    
}

.header-links ul{
    display: flex;
    gap: 50px;

}

.header-links a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;

}

.showcase-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* CSS for container holding content between header and footer */
    flex: 1;
}


.footer{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #F9faf8;
}

.c1-container{
    display: flex;
    background-color: #1F2937;
    flex: 1;
    flex-grow: 1;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

}

.hcontainer{
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-content: center;
    flex-direction: column;
    flex: 1;
}

.himage{
    display: flex;
    flex: 1;
    justify-content: center;
}

.hero-header{
    display: flex;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hsecondary{
    /* flex-wrap: wrap; */
    color: #E5e7eb;
    font-size: 18px;
    margin-bottom: 10px;
}

.btn-1{
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 10px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 5px;
}

.c2-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color:;
    flex: 1;
    border-style: solid;
    border-width: 5px;
    width: 100%;
}

.card{
    display: flex;
    flex: 1;
    justify-content: space-around;
    flex-wrap: wrap;
    border-style: solid; 
}

.c2-header{
    flex: 1;
}

.card div{
    flex: 1;
    justify-content: center;
    border-style: solid;
    flex-wrap: wrap 
 
}

.c3-container{
    background-color:;
    flex: 1;
}

.c4-container{
    background-color:;
    flex: 1;
}

