*{
    padding: 0px;
    margin: 0px;
}

body{
    /* MIN HEIGHT set to 100vh required and display flex needed to make entire
       page flex correctly*/
    min-height: 100vh;
    display: flex;
    justify-content: center;
}



.m-container{
    display: flex;
    flex-direction: column;
 }

.Header-container{
    display: flex;
    justify-content: space-evenly;
}

.header{
    display: flex;
}

.header-links ul{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}


.showcase-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* CSS for container holding content between header and footer */
    flex: 2;
}


.footer{
    display: flex;
    justify-content: center;
}